<!DOCTYPE html>
<html>
<head>
  <title>Catalogillo</title>
  <%= stylesheet_link_tag    "catalogillo/application", :media => "all" %>
  <%= javascript_include_tag "catalogillo/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  HEAD
  <%= yield %>
  FOOTER
</body>
</html>
