.sale-price-on-sale {
  color: #ff6a6c;
}

.price-on-sale {
  text-decoration: line-through;
}

#products-container {
  a{
    color: black;
  }
  a:hover{
    text-decoration: none;
  }
}

.pagination {
  margin: 0 0;
  float: right;
}

.low_stock {
  color: #ff6a6c;
}