<div class="container">
  <div class="row">
    <h2><%= @category.name %></h2>
    <ul class="unstyled">
      <% @hits.each do |hit| %>
        <%= render partial: 'product', locals: {hit: hit} %>
      <% end %>
    </ul>
  </div>
</div>